{% extends 'gym/base.html' %}
{% load static %}

{% block title %}کد ملی تکراری{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header text-white" style="background-color: var(--secondary-color);">
            <h4 class="mb-0">کد ملی تکراری</h4>
        </div>
        <div class="card-body">
            <div class="alert alert-danger">
                <p>کد ملی وارد شده قبلاً با حساب کاربری دیگری مرتبط شده است. لطفاً از یک کد ملی منحصر به فرد استفاده کنید.</p>
            </div>
            <a href="{% url 'gym:edit_profile' %}" class="btn btn-primary">بازگشت به ویرایش پروفایل</a>
        </div>
    </div>
</div>
{% endblock %} 